# Created by .ignore support plugin (hsz.mobi)
*.log
*.xml
*.pdf
*.html
*.txt
*.xls
*.xlsx
*.jpg
*.jpeg
*.png
*.zip
*.rar
*.yml
*.csv
*.sql
*.bak
log

.idea
/bitrix/*

exclude
dump.sql

/upload/
/files/
/img/
/imgs/
/images/
/export_images/
/promo/
/local/components/test/
/local/test/
/termoros_test/test_acc/
/mail_attachments/
/1c-services/